
.App {
  background-color: #fff;
  color: rgb(0, 0, 0);
  font-family: 'Product Sans', 'Inter', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
