@import url('../../vendor/normalize.css');
@import url('../../vendor/fonts.css');

.App {
  display: inline;
  background-color: #fff;
  color: rgb(0, 0, 0);
  font-family: 'Inter', 'Product-Sans', 'Roboto', 'Onest-medium',
    'Onest-regular', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  white-space: pre-line;
}

button {
  transition: opacity 0.4s ease;
  cursor: pointer;
}

button:hover {
  opacity: 0.6;
}

a {
  transition: opacity 0.4s ease;
  cursor: pointer;
}

a:hover {
  opacity: 0.6;
}
