.inputArea {
  margin: 0 auto 56px;
  min-width: 83%;
  min-height: 64px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 32px;
  justify-content: space-between;
  box-shadow: 6px 6px 20px 0px rgba(232, 140, 155, 0.3),
    -4px -4px 20px 0px rgba(143, 202, 237, 0.3);
}

.gradient {
  background: linear-gradient(
    90deg,
    rgba(255, 190, 246, 30%),
    rgba(159, 215, 255, 30%)
  );

  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 946px;
  }
}

.chatInput {
  color: #212121;
  background-color: transparent;
  font-family: 'Roboto';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  flex-basis: 80%;
  border: none;
  margin-left: 32px;
  min-height: 32px;
  outline: none;
}

.chatBtns {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-left: auto;
  margin-right: 32px;
}

.submitBtn {
  width: 32px;
  height: 32px;
  background: url(../../images/bytesize_send.svg) transparent no-repeat center;
  outline: none;
  border: none;
}

.microBtn {
  width: 32px;
  height: 32px;
  background: url(../../images/ph_microphone.svg) transparent no-repeat center;
  outline: none;
  border: none;
}
