.chat-container {
  background: url(../../images/bg.png) no-repeat;
  background-position: center;
  background-size: cover;
}
.chat {
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 80px);
  justify-content: space-between;
  color: #1e1e1e;
  position: relative;
}

.bigMicro {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: url(../../images/Listenning.svg) rgba(164, 164, 164, 0.32)
    no-repeat;
  z-index: 3;
  background-position: center;
  display: grid;
}

@media screen and (max-width: 426px) {
  .chat-container {
    background: #fff;
  }

  .chat {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .bigMicro {
    background-size: 250px;
  }
}
