.FAQ {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  justify-items: center;
  visibility: visible;
  display: grid;
  opacity: 1;
  transition: opacity 0.3s linear, visibility 0.3s;
}

.FAQ-closed {
  visibility: hidden;
  opacity: 0;
}

.FAQ__content {
  display: flex;
  width: 100%;
  flex-direction: row;
  color: #1e1e1e;
  justify-content: center;
  gap: 20px;
  position: relative;
  padding-top: 80px;
  padding-bottom: 56px;
  border-radius: 0 0 50px 50px;
  border-bottom: 1px solid #d3d3d3;
  background-color: white;
  box-shadow: 0 4px 20px 5px #0000001a;
}

.FAQ__column {
  max-width: 463px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 10;
}

.FAQ__heading {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 10;
}

.FAQ__text {
  font-family: Onest;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  background-color: #f9f8f9;
  padding: 32px;
  min-height: 48px;
  border-radius: 12px;
  margin: 0;
  z-index: 10;
}

.FAQ__close-btn {
  background: url(../../images/close-btn.svg) no-repeat transparent;
  width: 50px;
  height: 50px;
  border: none;
  position: absolute;
  right: 32px;
  top: 32px;
}

.FAQ__open-btn {
  background: url(../../images/help-btn.svg) no-repeat transparent;
  width: 50px;
  height: 50px;
  border: none;
  position: absolute;
  right: 32px;
  top: 32px;
  opacity: 1;
  transition: opacity 0.3s linear, visibility 0.3s;
}

.FAQ__open-btn_hidden {
  visibility: hidden;
  opacity: 0;
}
