.footer {
  padding: 120px 0 120px 150px;
  background: #f9f8f9;
  display: flex;
  flex-direction: column;
}

.footer__info {
  margin: 32px 0 64px 0;
  padding: 0;
  list-style-type: none;
}

.footer__text {
  color: #1e1e1e;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  text-decoration: none;
  margin-top: 64px;
  margin-bottom: 64px;
}

.footer__text_contacts {
  font-family: 'Onest-medium';
  font-weight: 500;
}

.footer__text_copyright {
  font-family: 'Onest';
  font-weight: 400;
  color: #1e1e1e;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  margin: 0;
}

.footer__logo {
  width: 141px;
  height: 32px;
}
