.footer {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 24px;
  padding: 66px 150px 66px 150px;
  background: #f9f8f9;
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.footer__info {
  margin: 32px 0 64px 0;
  padding: 0;
  list-style-type: none;
}

.footer__info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__text_contacts {
  color: #1e1e1e;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}

.footer__text_copyright {
  color: #1e1e1e;
  font-weight: 400;
  margin: 0;
}

.footer__logo {
  width: 141px;
  height: 32px;
}
