.ForWho {
  display: flex;
  flex-direction: column;
  margin: 20px auto 100px 10.4vw;
  align-content: center;
}

.ForWho__info-container {
  display: flex;
  flex-direction: row;
  gap: 54px;
}

.ForWho__heading {
  color: #000;
  font-family: 'Roboto';
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}

.ForWho__column {
  display: flex;
  flex-direction: column;
  gap: 54px;
}

.ForWho__line {
  display: flex;
  flex-direction: row;
  gap: 52px;
  max-width: 530px;
}

.ForWho__text {
  max-width: 400px;
  color: #1e1e1e;
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@media screen and (max-width: 426px) {
  .ForWho {
    margin: 10px 15px 60px 15px;
    align-content: center;
  }
  .ForWho__info-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .ForWho__heading {
    font-size: 20px;
    line-height: 26px;
  }

  .ForWho__text {
    font-size: 16px;
    line-height: 24px;
  }

  .ForWho__img {
    width: 45px;
    height: 45px;
    margin: auto 0 auto 0;
  }

  .ForWho__line {
    gap: 15px;
  }
  .ForWho__column {
    gap: 32px;
  }
}
