.header {
  display: flex;
  position: relative;
  z-index: 5;
  padding: 22px 150px;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 6px 6px 20px 0px rgba(232, 140, 155, 0.3),
    -4px -4px 20px 0px rgba(143, 202, 237, 0.3);
}

.header__navBar {
  display: flex;
  flex-direction: row;
}

.header__button-language {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-right: 39px;
  padding: 0;
  flex-wrap: wrap;
  border-radius: 3px;
  min-height: 36px;
  background: #ffffff;
  border: none;
  cursor: pointer;
}

.header__button-arrow {
  margin-left: 11px;
}

.header__profile-image {
  display: block;
}

.header__profile-image {
  box-sizing: border-box;
  object-fit: cover;
  max-width: 36px;
  min-height: 36px;
  border-radius: 60px;
}

.header__button-assistant {
  display: flex;
  background: #d9d9d9;
  height: 36px;
  width: 36px;
  padding: 0;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
