.main {
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../images/bg-main.svg);
  background-position: center 10px;
  background-size: cover;
  background-repeat: no-repeat;
}

.main__img {
  margin-top: 70px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.main__title {
  max-width: 550px;
  text-align: center;
  font-family: 'Roboto';
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
  margin: 0;
  padding: 0;
  margin-bottom: 96px;
}

.main__button {
  background: linear-gradient(166deg, #8fcaed 0%, #7a6398 100%);
  min-width: 263px;
  min-height: 48px;
  border-radius: 24px;
  border: none;
  color: #fff;
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  margin-top: 8px;
}

.main__down-button {
  background: url(../../images/arrow-down.svg) transparent;
  border: none;
  width: 96px;
  height: 96px;
  margin-top: 120px;
}

.main__search-container {
  width: 66.4%;
}

@media screen and (max-width: 769px) {
  .main__title {
    font-size: 36px;
  }
}

@media screen and (max-width: 426px) {
  .main {
    background-image: url(../../images/bg-mobile.svg);
    background-position: center -33px;
  }

  .main__img {
    width: 200px;
    height: 200px;
  }

  .main__title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 92px;
  }

  .main__down-button {
    width: 50px;
    height: 50px;
    background-size: cover;
    margin-top: 48px;
  }

  .main__search-container {
    width: 96%;
  }
}

@media screen and (max-width: 376px) {
  .main {
    background-position: center 23px;
  }
}
