.main {
  margin-top: 70px;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../images/bg-main.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main__img {
  width: 300px;
  max-width: 100%;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.main__title {
  max-width: 550px;
  text-align: center;
  font-family: 'Roboto';
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
  margin: 0;
  padding: 0;
  margin-bottom: 96px;
}

.main__button {
  background: linear-gradient(166deg, #8fcaed 0%, #7a6398 100%);
  min-width: 263px;
  min-height: 48px;
  border-radius: 24px;
  border: none;
  color: #fff;
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  margin-top: 8px;
}

.main__down-button {
  background: url(../../images/arrow-down.svg) transparent;
  border: none;
  width: 96px;
  height: 96px;
  margin-top: auto;
}

.main__search-container {
  width: 66.4%;
}
