.popup__changeAssistant {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 32px 33px 0 33px;
}
.popup__Assistant-container {
  display: grid;
  justify-content: center;
}

.popup__AssistantButton {
  opacity: 0.6;
  padding: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.popup__AssistantButton_active {
  /*background: url('../../assets/ellipse.svg') center no-repeat;*/
  opacity: 1 !important;
  box-shadow: 6px 6px 20px 0px rgba(251, 223, 247, 0.5),
    -4px -4px 20px 0px rgba(175, 219, 251, 0.5);
}

.popup__AssistantButton-image {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
  width: 168px;
  height: 168px;
  object-fit: cover;
  border-style: none;
  background-color: #fff;
}

.popup__Assistant-name {
  text-align: center;

  color: #1e1e1e;
  font-family: Product-Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

@media screen and (max-width: 426px) {
  .popup__AssistantButton-image {
    width: 75px;
    height: 75px;
    background-size: cover;
  }

  .popup__Assistant-name {
    font-size: 14px;
    margin: 0;
    padding: 0;
  }

  .popup__changeAssistant {
    margin: 10px auto 10px auto;
    max-width: 285px;
    gap: 20px;
  }
}
