.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(164, 164, 164, 0.32);
  visibility: hidden;
  justify-items: center;
  align-items: center;
  display: grid;
}

.popup_visible {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 40px 54px 40px;
  width: 674px;
  background: #fff;
  border-radius: 10px;
  line-height: 29px;
  overflow: hidden;
}

.popup__container-info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.popup__name {
  color: #1e1e1e;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  white-space: nowrap;
  text-align: center;
  align-self: center;
  margin: 0;
}

.popup__close-button {
  background: url('../../assets/close-icon.svg') center no-repeat;
  padding: 0;
  margin: 0 0 0 66px;
  width: 29.46px;
  height: 29.46px;
  border: none;
  cursor: pointer;
  outline: none;
}