.popup__changeAssistant {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 32px 33px 0 33px;
}
.popup__Assistant-container {
  display: grid;
  justify-content: center;
}

.popup__AssistantButton {
  max-height: 192px;
  padding: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  background: #fff;
  transition: none;
}
.popup__AssistantButton:hover {
  opacity: 1;
}

.popup__AssistantButton-image {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
  padding: 12px;
  width: 168px;
  height: 168px;
  object-fit: cover;
  border-style: none;
}

.popup__Assistant-name {
  text-align: center;
  margin: 0;
  padding-top: 8px;
  color: #1e1e1e;
  font-family: Product-Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

@media screen and (max-width: 426px) {
  .popup__AssistantButton-image {
    width: 90px;
    height: 90px;
    background-size: cover;
  }

  .popup__Assistant-name {
    font-size: 14px;
    margin: 0;
    padding: 0;
  }

  .popup__changeAssistant {
    margin: 10px auto 10px auto;
    max-width: 285px;
    gap: 20px;
  }
}
